@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&family=Roboto+Condensed&family=Roboto:wght@300&display=swap");
/* Reset Browser CSS Defaults */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
Material Icons Setup
*/
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Base styling */
body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  font-family: "Roboto", sans-serif;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  padding: 1.5rem;
  font-family: "Fredoka One", cursive;
  background-color: #eef2ff;
  color: black;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search > input {
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 100%;
}

.profile {
  font-size: 1.5rem;
}

.profile,
.buttons {
  justify-self: end;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttons > button {
  border-radius: 1rem;
  font-size: 1rem;
  padding: 8px 1.5rem 8px 1.5rem;
  background-color: #6366f1;
  color: #eef2ff;
  opacity: 0.7;
  transition: 0.5s;
}

.buttons > button:hover {
  opacity: 1;
}

/* Sidebar */

.sidebar {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  background-color: #818cf8;
  color: #eef2ff;
  grid-column: 1 / 1;
  grid-row: 1 / span 2;
  gap: 0.5rem;
  padding-left: 1.5rem;
}

.sidebar-title,
.sidebar-feature {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar .sidebar-title {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1.5rem;
}

.sidebar .sidebar-feature {
  gap: 8px;
  padding: 1rem;
}

/* Content */

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #c7d2fe;
  grid-column: 2 / 2;
  grid-row: 2 /2;
}

.projects,
.announcements,
.trending {
  padding: 1.5rem;
}

.projects {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}

.content > div > h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.cards {
  grid-column: 1 / 1;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 8px;
}

.announcements {
  grid-column: 2 / span 2;
}

.trending {
  grid-column: 2/2;
}
